{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-style-mode" content="1"> <!-- 0 == light, 1 == dark -->

    <title>Blog Grid || Doob Business and Consulting Bootstrap5 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'landing/images/favicon.png' %}">
    <!-- CSS ============================================ -->
    <link rel="stylesheet" href="{% static 'landing/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/plugins/animation.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/plugins/feature.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/plugins/magnify.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/plugins/slick.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/plugins/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/plugins/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
</head>

<body>
    <!-- Start Main Wrapper  -->

    <main class="page-wrapper">
        {% include 'landing/header.html' %}


        <div class="popup-mobile-menu">
            <div class="inner">
                <div class="header-top">
                    <div class="logo">
                        <a href="index.html">
                            <img class="logo-light" src="assets/images/logo/logo.png" alt="Corporate Logo">
                            <img class="logo-dark" src="assets/images/logo/logo-dark.png" alt="Corporate Logo">
                        </a>
                    </div>
                    <div class="close-menu">
                        <button class="close-button">
                            <i class="feather-x"></i>
                        </button>
                    </div>
                </div>
                <ul class="mainmenu">
                    <li class="with-megamenu has-menu-child-item position-relative"><a href="#">Home</a>
                        <div class="rainbow-megamenu with-mega-item-2">
                            <div class="wrapper">
                                <div class="row row--0">
                                    <div class="col-lg-6 single-mega-item">
                                        <ul class="mega-menu-item">
                                            <li><a href="index-landing.html">Sass Landing <span class="rainbow-badge-card">New</span></a></li>
                                            <li><a href="index-application.html">Application <span class="rainbow-badge-card">New</span></a></li>
                                            <li><a href="index-collaborate.html">Collaborate <span class="rainbow-badge-card">New</span></a></li>
                                            <li><a href="index-business-consulting.html">Business Consulting</a></li>
                                            <li><a href="index-business-consulting-2.html">Business Consulting 02</a></li>
                                            <li><a href="index-magazine.html">Magazine <span class="rainbow-badge-card">New</span></a></li>
                                            <li><a href="index-corporate.html">Corporate</a></li>
                                            <li><a href="index-business.html">Business</a></li>
                                            <li><a href="index-digital-agency.html">Digital Agency</a></li>
                                            <li><a href="index-finance.html">Finance</a></li>
                                            <li><a href="index-company.html">Company</a></li>
                                            <li><a href="index-marketing-agency.html">Marketing Agency</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 single-mega-item">
                                        <ul class="mega-menu-item">
                                            <li><a href="index-travel-agency.html">Travel Agency</a></li>
                                            <li><a href="index-consulting.html">Consulting</a></li>
                                            <li><a href="index-seo-agency.html">SEO Agency</a></li>
                                            <li><a href="index-personal-portfolio.html">Personal Portfolio</a></li>
                                            <li><a href="index-event-conference.html">Event Conference</a></li>
                                            <li><a href="index-creative-portfolio.html">Creative Portfolio</a></li>
                                            <li><a href="index-freelancer.html">Freelancer</a></li>
                                            <li><a href="index-international-consulting.html">International Consulting</a></li>
                                            <li><a href="index-startup.html">Startup</a></li>
                                            <li><a href="index-web-agency.html">Web Agency</a></li>
                                            <li><a href="index-corporate-one-page.html">Corporate One Page <span class="rainbow-badge-card">New</span></a></li>
                                            <li><a href="index-photographer.html">Photographer <span class="rainbow-badge-card">New</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li class="with-megamenu has-menu-child-item"><a href="#">Elements</a>
                        <div class="rainbow-megamenu">
                            <div class="wrapper">
                                <div class="row row--0">
                                    <div class="col-lg-3 single-mega-item">
                                        <ul class="mega-menu-item">
                                            <li><a href="button.html">Button</a></li>
                                            <li><a href="service.html">Service</a></li>
                                            <li><a href="counter.html">Counter</a></li>
                                            <li><a href="progressbar.html">Progressbar</a></li>
                                            <li><a href="accordion.html">Accordion</a></li>
                                            <li><a href="social-share.html">Social Share</a></li>
                                            <li><a href="blog-grid.html">Blog Grid</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 single-mega-item">
                                        <ul class="mega-menu-item">
                                            <li><a href="team.html">Team</a></li>
                                            <li><a href="portfolio.html">Portfolio</a></li>
                                            <li><a href="testimonial.html">Testimonial</a></li>
                                            <li><a href="timeline.html">Timeline</a></li>
                                            <li><a href="tab.html">Tab</a></li>
                                            <li><a href="pricing.html">Pricing</a></li>
                                            <li><a href="split.html">Split Section</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 single-mega-item">
                                        <ul class="mega-menu-item">
                                            <li><a href="call-to-action.html">Call To Action</a></li>
                                            <li><a href="video.html">Video</a></li>
                                            <li><a href="gallery.html">Gallery</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="brand.html">Brand</a></li>
                                            <li><a href="portfolio.html">Portfolio</a></li>
                                            <li><a href="error.html">404</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 single-mega-item">
                                        <ul class="mega-menu-item">
                                            <li><a href="advance-tab.html">Advance Tab <span
                                        class="rainbow-badge-card">Hot</span></a></li>
                                            <li><a href="brand-carouse.html">Brand Carousel <span
                                        class="rainbow-badge-card">New</span></a></li>
                                            <li><a href="advance-pricing.html">Advance Pricing <span
                                        class="rainbow-badge-card">Hot</span></a></li>
                                            <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                            <li><a href="privacy-policy.html">Privacy Policy <span
                                class="rainbow-badge-card">New</span></a></li>
                                            <li><a href="login.html">Profile <span
                                class="rainbow-badge-card">New</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="has-droupdown has-menu-child-item"><a href="#">Blog</a>
                        <ul class="submenu">
                            <li><a href="blog-grid.html">Blog Grid</a></li>
                            <li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                            <li><a href="blog-list-view.html">Blog List View</a></li>
                            <li><a href="blog-list-sidebar.html">Blog List View Sidebar</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>

                    <li class="has-droupdown has-menu-child-item"><a href="#">Portfolio</a>
                        <ul class="submenu">
                            <li><a href="portfolio.html">Portfolio Default</a></li>
                            <li><a href="portfolio-three-column.html">Portfolio Three Column</a></li>
                            <li><a href="portfolio-full-width.html">Portfolio Full Width</a></li>
                            <li><a href="portfolio-grid-layout.html">Portfolio Grid Layout</a></li>
                            <li><a href="portfolio-box-layout.html">Portfolio Box Layout</a></li>
                            <li><a href="portfolio-details.html">Portfolio Details</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>







            </div>
        </div>
        <!-- Start Breadcarumb area  -->
        <div class="breadcrumb-area breadcarumb-style-1 ptb--120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-inner text-center">
                            <h1 class="title theme-gradient h2">Blog Grid Style.</h1>
                            <ul class="page-list">
                                <li class="rainbow-breadcrumb-item"><a href="/">Home</a></li>
                                <li class="rainbow-breadcrumb-item active">Blog Grid</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcarumb area  -->
        <!-- Start Theme Style  -->
        <div>
            <div class="rainbow-gradient-circle"></div>
            <div class="rainbow-gradient-circle theme-pink"></div>
        </div>
        <!-- End Theme Style  -->



        <!-- Start Rn Blog Area  -->
        <div class="main-content">
            <div class="rainbow-blog-area rainbow-section-gap">
                <div class="container">
                    <div class="row mt_dec--30">
                        <div class="col-lg-12">
                            <div class="row row--15">
                                {% for blog in blogs %}
                                <div class="col-lg-4 col-md-6 col-12 mt--30" data-sal="slide-up" data-sal-duration="700">
                                    <div class="rainbow-card box-card-style-default">
                                        <div class="inner">
                                           <!-- <div class="thumbnail"><a class="image" href="blog-details.html"><img class="w-100" src="assets/images/blog-grid/blog-01.jpg" alt="Blog Image"></a>
                                            </div>-->
                                            <div class="content">
                                                <ul class="rainbow-meta-list">
                                                    <li><a href="#">{{blog.blog_author}}</a></li>
                                                    <li class="separator">/</li>
                                                    <li>{{blog.blog_date}}</li>
                                                </ul>
                                                <h4 class="title"><a href="blog-details.html">{{blog.blog_title}}</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <div class="rainbow-load-more text-center mt--60">
                                <a class="btn-default" href="blog-grid.html">View More Post
                                    <i class="feather-loader"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Rn Blog Area  -->


        {% include 'landing/footer.html' %}

    </main>
    <!-- Start Main Wrapper  -->




    <!-- All Scripts  -->
    <!-- Start Top To Bottom Area  -->
    <div class="rainbow-back-top">
        <i class="feather-arrow-up"></i>
    </div>
    <!-- End Top To Bottom Area  -->
    <!-- JS
============================================ -->
<script src="{% static 'landing/js/vendor/modernizr.min.js' %}"></script>
<script src="{% static 'landing/js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'landing/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'landing/js/vendor/popper.min.js' %}"></script>
<script src="{% static 'landing/js/vendor/waypoint.min.js' %}"></script>
<script src="{% static 'landing/js/vendor/wow.min.js' %}"></script>
<script src="{% static 'landing/js/vendor/counterup.min.js' %}"></script>
<script src="{% static 'landing/js/vendor/feather.min.js' %}"></script>
<script src="{% static 'landing/js/vendor/sal.min.js' %}"></script>
<script src="{% static 'landing/js/vendor/masonry.js' %}"></script>
<script src="{% static 'landing/js/vendor/imageloaded.js' %}"></script>
<script src="{% static 'landing/js/vendor/magnify.min.js' %}"></script>
<script src="{% static 'landing/js/vendor/lightbox.js' %}"></script>
<script src="{% static 'landing/js/vendor/slick.min.js' %}"></script>
<script src="{% static 'landing/js/vendor/easypie.js' %}"></script>
<script src="{% static 'landing/js/vendor/text-type.js' %}"></script>
<script src="{% static 'landing/js/vendor/jquery.style.swicher.js' %}"></script>
<script src="{% static 'landing/js/vendor/js.cookie.js' %}"></script>
<script src="{% static 'landing/js/vendor/jquery-one-page-nav.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'landing/js/main.js' %}"></script>
</body>

</html>